{% extends 'layout.html.twig' %}

{% block title %}
  Admin Catégorie |
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
  <section class="container mt-4">
    <h1 class="text-center">Admin des catégories</h1>
    <div class="d-flex flex-wrap justify-content-between gap-2 mt-4">
      {% for categorie in categories %}
        <div class="blog-card mt-0">
          <div class="blog-card-content">
            <div class="row align-items-center">
              <div class="col-md-6">{{ categorie.titre }}</div>
              <div class="col-md-6">{{ categorie.color }}</div>
              <div class="col-md-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" value="{{ categorie.id }}" data-switch-active-tag {{ categorie.enable ? 'checked' }} />
                  <label class="form-check-label">Active</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <a href="{{ path('app_categorie_edit', { id: categorie.id }) }}" class="btn btn-warning text-light">Modifier</a>
                </div>
                <div class="col-md-6">
                  {% include 'Backend/Categorie/_delete_form.html.twig' %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <a href="{{ path('app_categorie_new') }}" class="btn btn-primary text-light">Créer une catégorie</a>
  </section>
{% endblock %}
