{% extends 'layout.html.twig' %}

{% block title %}
  Admin Users |
  {{ parent() }}
{% endblock %}

{% block body %}
  <div class="container-fluid mt-4">
    <h1 class="text-center">Admin des users</h1>

    <table class="table mt-4">
      <thead>
        <tr>
          <th>Image</th>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Username</th>
          <th>Email</th>
          <th>Age</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td class="user-content">
              <div class="user-image">
                <img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="" />
              </div>
            </td>
            <td>
              <div class="align-items-center">{{ user.prenom }}</div>
            </td>
            <td>{{ user.nom }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.mail }}</td>
            <td>{{ user.age }}</td>
            <td class="d-flex flex-column">{{ user.roles ? user.roles|json_encode:'' }}</td>
            <td>
              {% include 'Backend/User/_actions.html.twig' %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
