{{ form_start(form, { attr: { class: 'form-filter p-3 card js-filter-form' } }) }}

<div class="loader">
  <div class="spinner-grow bg-primary js-loading" role="status" style="display: none" aria-hidden="true">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

{{ form_row(form.query) }}
<h3 class="mb-2">Catégories :</h3>
{{ form_row(form.categories, { attr: { class: 'd-flex flex-wrap gap-2' } }) }}
<h4 class="mb-2">Sous-catégories :</h4>
{{ form_row(form.subCategories, { attr: { class: 'd-flex flex-wrap gap-2' } }) }}
<h3 class="mb-2">Auteurs :</h3>
{{ form_row(form.author, { attr: { class: 'd-flex flex-wrap gap-2' } }) }}

{% if app.request.get('_route') == 'admin' %}
  <h3 class="mb-2">Articles actifs :</h3>
  {{ form_row(form.active) }}
{% endif %}

{{ form_end(form, { render_rest: false }) }}
